#mr_megamenu,
#mr_megamenu a,
#mr_megamenu ul,
#mr_megamenu li,
#mr_megamenu div,
#mr_megamenu form,
#mr_megamenu input {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}
#mr_megamenu a { text-decoration: none;   color: #000; }
#mr_megamenu a:hover{color: #ef3e42;}
#mr_megamenu li { list-style: none; }
#mr_megamenu {
    height: 38px;
    position: relative;
    cursor: default;
    z-index: 500;
    width: 100%;
    text-align: center;
}
#mr_megamenu > li {
    display: inline-block;
    padding: 11px 8px 13px 9px;
}
#mr_megamenu > li.over,
#mr_megamenu > li:hover,
#mr_megamenu > li.active{
}
#mr_megamenu > li > a {
    font-size: 13px;
    line-height: 1.3em;
    text-decoration: none;
    position: relative;
    display: block;
    z-index: 510;
    /*-webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;*/
    text-transform: uppercase;
}
#mr_megamenu > li.over > a,
#mr_megamenu > li:hover > a,
#mr_megamenu > li.active > a{
    color: #ef3e42;
}
#mr_megamenu > li:first-child > a {
    border-left: none;
}
#mr_megamenu > li > div {
    position: absolute;
    display: block;
    max-width: 100%;
    top:39px;
    left: 0;
    font-size: 11px;
    padding:20px 15px 15px;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    border:1px solid #ccc;
    border-top: none;
    background: #ffffff;
    border-radius: 0 0 3px 3px;
    z-index: 9999999;

    /*-webkit-transition: all .3s ease .15s;
    -moz-transition: all .3s ease .15s;
    -o-transition: all .3s ease .15s;
    -ms-transition: all .3s ease .15s;
    transition: all .3s ease .15s;*/
}
#mr_megamenu > li > div > .col{
    float: left;
    margin-right: 14px;
    border-right: 1px solid #ccc;
}
#mr_megamenu > li > div > .col.last{
    margin-right: 0px;
    border-right: none;
}
#mr_megamenu > li:hover > div {
    opacity: 1;
    visibility: visible;
    overflow: visible;
}
#mr_megamenu > li > div a{
    font-size: 14px;
    text-transform: uppercase;
}
#mr_megamenu > li > div a:hover{
}
#mr_megamenu .nav-column {
    float: left;
    text-align: left;
    width: 200px;
}
#mr_megamenu .nav-column>a{
    display: inline-block;
    margin-bottom: 20px;
    line-height: 1em;
}
#mr_megamenu .nav-column.first{
    padding-left: 0px;
    border-left: none;
}
#mr_megamenu  .nav-column h3 {
    margin: 20px 0 10px 0;
    line-height: 18px;

    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #372f2b;
    text-transform: uppercase;
}
#mr_megamenu  .nav-column h3.orange { color: #ff722b; }
#mr_megamenu  .nav-column li a {
    text-transform: none;
    display: block;
    line-height: 1.3em;
    color: #000;
}
#mr_megamenu  .nav-column li a:hover { color: #FF4A4A;}
#mr_megamenu  .nav-column ul.level0{padding-bottom: 20px;}